<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <appSettings>
      <add key="Localfilespath" value="C:\Users\USER\Desktop\ROC\Freelancer Template\FreelancerTemplate\"/>
      <add key="MyEmail" value="roc@rockhalil.com"/>
      <add key="AdminUsername" value="admin"/>
      <add key="AdminPassword" value="0DPiKuNIrrVmD8IUCuw1hQxNqZc="/>
    </appSettings>
    <system.web>
      <httpRuntime requestValidationMode="2.0"/>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
