<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">Admin</a>
    </div>
    <!-- /.navbar-header -->

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li>
                    <a href="Default.aspx"><i class="fa fa-dashboard"></i> Home</a>
                </li>
                <li>
                    <a href="SiteConfigurations.aspx"><i class="fa fa-check-circle"></i> Site Configurations</a>
                </li>
                <li>
                    <a href="OpenGraph.aspx"><i class="fa fa-facebook"></i> Open Graph</a>
                </li>
                <li>
                    <a href="AboutListing.aspx"><i class="fa fa-tags"></i> About</a>
                </li>
                <li>
                    <a href="PortfolioListing.aspx"><i class="fa fa-suitcase"></i> Portfolio</a>
                </li>
                <li>
                    <a href="Social.aspx"><i class="fa fa-github"></i> Social</a>
                </li>
                <li>
                    <a href="Footer.aspx"><i class="fa fa-slack"></i> Footer</a>
                </li>
                <li>
                    <a href="PublishChanges.aspx"><i class="fa fa-flag-o"></i> Publish Changes</a>
                </li>
                <li>
                    <a href="Logout.aspx"><i class="fa fa-sign-out"></i> Signout</a>
                </li>
                            
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>

</nav>