<title>$sitetitle$</title>
<link rel="shortcut icon" href="$siteicon$" type="image/x-icon">
<link rel="icon" href="$siteicon$" type="image/x-icon">

<meta property="og:url" content="$ogurl$" />
<meta property="og:site_name" content="$ogsitename$" />
<meta property="og:type" content="website" />
<meta property="og:title" content="$ogtitle$" />
<meta property="og:image" content="$ogimage$" />
<meta property="og:description" content="$ogdescription$" />
<meta property="fb:admins" content="$fbadmins$" />